<%= form_tag(root_path, method: :get, id: "form2" ) do %>
  <%= text_field_tag :search, '', id: 'sbox2', placeholder: 'outher name' %>
  <%= button_tag type: 'submit', id: "sbtn2", name: nil do %>
    <i class="fa fa-search"></i>
  <% end %>
<% end %>
<table class="sidebar__search__box">
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td class="sidebar__search__box__name"> <%= link_to(user.name, "/users/#{user.id}") %></td>
    </tr>
  <% end %>
  </tbody>
</table>