<%= form_tag(root_path, method: :get, class: "search__form") do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<table class="search__name__box">
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td class="search__name__box__name"> <%= link_to(user.name, "/users/#{user.id}") %></td>
    </tr>
  <% end %>
  </tbody>
</table>