<div class="wrapper">
  <div class="chat-side">
    <div class="side-header">
      <div class="side-header__box">
        <p class="side-header__box__logo">
          TEMP APP
        </p>
      </div>
    </div>
  </div> 
  <div class="chat-main">
    <div class="chat-main__header__left">
      <div class="chat-main__header">
        <p class="chat-main__header__left__current-family">
          ゆーざー名いれる
        </p>
      </div>
    </div>
    <div class="grid-6">
      <a href ="#">
        <div class="chat-main__header__left__edit-btn">
        Edit
        </div>
      </a>
      <a class ="chat-main__header__left__logout-btn" href = "#">
        Logout
      </a>
    </div>
  </div>
</div>