* {
  box-sizing: border-box;
}


.wrapper{
  width: 100vw;
  height: 100vh;
}

.select{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43C6AC, #F8FFAE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43C6AC, #F8FFAE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.select__box{
  background-color: white;
  margin: 0 auto;
  width: 1110px;;
  height: 666px;
  margin-top: 50px;
  display: flex;
  &__left{
    width: 50%;
    height: 100%;
  }
  &__left img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    opacity: 0.5;
  }
  &__right{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #F5F5F5;
  }
}
.select__box__right__sign-in{
  background-color: #B0E0E6;
  height: 50px;
  width: 300px;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 150px;
}
.select__box__right__sign-in a,
.select__box__right__sign-up a{
  color: white;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}
.select__box__right__sign-up{
  background-color: #43BFA0;
  height: 50px;
  width: 300px;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  top: 390px;
  left: 150px;
}


.select__box__right__sign-up :hover,
.select__box__right__sign-in :hover{
  text-decoration: none;
  color: white;
}