*{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
  text-decoration: none;
}
a :hover{
  text-decoration: none;
}
button:focus {
  outline: 0;
}


.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.side-bar {
  background-color: #43BFA0;
  width: 250px;
}

.side-bar__lists {
  padding-top: 80px;
}

.side-bar__lists__list {
  height: 100px;
}
.side-bar .side-bar__lists__list a {
  display: block;
  color: white;
  font-size: 20px;
  line-height: 100px;
  padding-left: 20px;
}
.side-bar .side-bar__lists__list :hover {
  color: #43BFA0;
  background-color: white;
  text-decoration: none;
}
.side-bar__lists__list .btn{
  text-align: left;
  border-radius: 0px;
}

.main-record {
  background-color: #EEEEEE;
  width: calc(100% - 250px);
  position: relative;
}

.main-record__header {
  height: 50px;
  background-color: white;
}
.main-record__header__name {
  float: right;
  line-height: 50px;
  padding-right: 100px;
  color: #666666;
  font-size: 20px;
}

.main-record__graph{
  height: 300px;
}
.chart-container{
  margin: 100px auto;
  box-shadow: 0 0 8px gray;
  background-color: white;
}


.sidebar {
  position: fixed;
  color: #fff;
}
.sidebar.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #F5FFFA;
  box-shadow: 0 0 8px gray;
}
.form { 
  width: 100%;
  height: 90px;
  background-color: #d2d2d2;  
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  padding:20px 40px;
  .new_record{
    display: flex;
    .input-box{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .form__record__date{
        height: 50px;
        width: 200px;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .form__record__value{
        height: 50px;
        width: 300px;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
        margin-left: 5px;
      }
    }
  }
  .form__submit{
    background-color: #43BFA0;
    color: white;
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    cursor: pointer;
  }
}
